Repository haixin-fang/vue-design-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., prettier --write

feat: 图片上传
  src/components/panel/bar.vue
  src/components/panel/index.vue
  src/components/sidebar/bar.vue
  src/components/sidebar/resource.vue
  src/constants/panel.ts
  src/core/FabricHandler.ts
  src/core/UtilsHandler.ts
  src/core/WorkareaHandler.ts
Due: prettier --write .

Deploying to gh-pages from @ d84842defafd98e93a289e1192b6830e35549ea6 🚀
  assets/main-595f5031.js
  assets/main-7a26c1ca.js
  assets/style-932712b4.css
  assets/style-cd1dcc4a.css
  index.html
Due: prettier --write .

feat: 上传方法提取
  src/components/panel/index.vue
  src/core/UtilsHandler.ts
Due: prettier --write .

Deploying to gh-pages from @ 5afe3bb9283ed2db3d87e63148cc93245c0be4c4 🚀
  assets/main-f021c589.js
  assets/style-932712b4.css
  assets/style-9f9f2bd5.css
  index.html
Due: prettier --write .

feat: 优化
  README.md
  src/components/workarea/scale-bar.vue
  src/components/workarea/workspace.vue
  src/core/FabricHandler.ts
  src/core/WorkareaHandler.ts
Due: prettier --write ., prettier --write

Deploying to gh-pages from @ e20c1864c8ce51ad53558ce5cffa2ac36eda5c66 🚀
  assets/main-b5814b4f.js
  assets/style-899f6a07.css
  assets/style-9f9f2bd5.css
  index.html
Due: prettier --write .

fix: 打不开页面
  src/components/workarea/workspace.vue
Due: none

Deploying to gh-pages from @ ec080aebe0cf969362efd9b49b82bab14c9a8a94 🚀
  assets/main-1a6e2ef6.js
  assets/style-157b0c3d.css
  assets/style-899f6a07.css
  index.html
Due: prettier --write .

fix: 递归调用,找原因
  index.html
  src/components/workarea/workspace.vue
Due: none

Deploying to gh-pages from @ 4c5ef391d0a916b8f77fc03295411b868f6e1600 🚀
  assets/main-475e0685.js
  assets/style-157b0c3d.css
  assets/style-3d06734a.css
  index.html
Due: prettier --write .

fix: 还是递归
  src/components/workarea/workspace.vue
Due: none

Deploying to gh-pages from @ 98898ff0575b99ec5331ffce2644fd680c8e481e 🚀
  assets/main-475e0685.js
  assets/main-9d4873c0.js
  assets/style-3d06734a.css
  assets/style-b0a40133.css
  index.html
Due: prettier --write .

feat: 数据不请求
  src/components/sidebar/resource.vue
  src/service/request.ts
  src/store/index.ts
Due: prettier --write .

Deploying to gh-pages from @ 4060c114de0dc911b404d2e2ea1d4e4ee611ba2a 🚀
  assets/main-9d4873c0.js
  assets/main-c5b88c82.js
  assets/style-b0a40133.css
  assets/style-c4a93cae.css
  index.html
Due: prettier --write .

fix: 测试
  index.html
Due: none

Deploying to gh-pages from @ 784f7d231d949284420f5dfe6539e48c06ffaac8 🚀
  index.html
Due: none

Deploying to gh-pages from @ a09a8b489ae5d3521f4a5ec496db56c560b8095b 🚀
  index.html
Due: none

fix: 注释
  src/service/request.ts
Due: prettier --write .

fix: 性能卡死问题
  index.html
  src/components/panel/workspace-size.vue
  src/components/workarea/scale-bar.vue
  src/components/workarea/workspace.vue
  src/page/editor.vue
Due: none

Deploying to gh-pages from @ e776231c3d87b8b2901c3a016ad81867597600ac 🚀
  assets/main-1ad4492b.js
  assets/main-c5b88c82.js
  assets/style-c4a93cae.css
  assets/style-c9424a20.css
  index.html
Due: prettier --write .

feat: 背景图配置, 居中展示
  src/components/panel/index.vue
  src/core/FabricHandler.ts
  src/core/UtilsHandler.ts
  src/core/WorkareaHandler.ts
  src/core/handler.ts
  src/store/index.ts
Due: prettier --write .

Deploying to gh-pages from @ ddca1db8056541d4b1c25645468af3b5d76588af 🚀
  assets/main-1ad4492b.js
  assets/main-7161afd0.js
  assets/style-9914ca37.css
  assets/style-c9424a20.css
  index.html
Due: prettier --write .

feat: 背景上传优化
  src/core/WorkareaHandler.ts
  src/core/handler.ts
Due: prettier --write .

Deploying to gh-pages from @ c53fc986e3d6d841066a15e2fe80a319d8e6df0d 🚀
  assets/main-9be3242b.js
  index.html
Due: prettier --write .

feat: 背景添加,样式优化,支持透明度等设置
  src/components/panel/data-input.vue
  src/components/panel/index.vue
  src/components/panel/opactiy.vue
  src/components/panel/slider.vue
  src/constants/workspace.ts
  src/core/UtilsHandler.ts
  src/core/WorkareaHandler.ts
  src/core/handler.ts
  src/layout/Nav.vue
  src/page/editor.vue
  src/store/index.ts
Due: prettier --write .

Deploying to gh-pages from @ ede35c71a873e408c4c9451f2a8649237dcc571c 🚀
  assets/main-410bf6a8.js
  assets/main-9be3242b.js
  assets/style-9914ca37.css
  assets/style-bfc03afb.css
  index.html
Due: prettier --write .

feat: 元素编辑
  src/components/panel/index.vue
  src/components/workarea/canvas.vue
  src/core/WorkareaHandler.ts
  src/core/handler.ts
  src/page/editor.vue
Due: prettier --write .

Deploying to gh-pages from @ 88291d21af9a71fbaf79d41146730b65ab77241d 🚀
  assets/main-410bf6a8.js
  assets/main-f7876116.js
  assets/style-bfc03afb.css
  assets/style-d4b9654d.css
  index.html
Due: prettier --write .

fix: 修复上传背景后层级不对问题
  src/components/workarea/canvas.vue
  src/core/WorkareaHandler.ts
  src/core/handler.ts
Due: prettier --write .

Deploying to gh-pages from @ 4431924e634d991a86768aa38c9f8eaf81a2f094 🚀
  assets/main-657c39e7.js
  index.html
Due: prettier --write .

feat: 颜色选择组件开发
  package.json
  src/common/popover.vue
  src/components/panel/color.vue
  src/components/panel/index.vue
  src/core/WorkareaHandler.ts
Due: prettier --write .

Deploying to gh-pages from @ 9cd38fe34148dbeb5a7d0b5c308ae2dc0d72e38b 🚀
  assets/main-2b52c280.js
  assets/main-657c39e7.js
  assets/style-2a14dc2a.css
  assets/style-d4b9654d.css
  index.html
Due: prettier --write .

feat: 画布背景色设置
  package-lock.json
  package.json
  src/common/popover.vue
  src/components/panel/color.vue
  src/components/panel/data-input.vue
  src/components/panel/index.vue
  src/components/panel/opactiy.vue
  src/components/panel/slider.vue
  src/components/sidebar/resource.vue
  src/core/FabricHandler.ts
  src/core/UtilsHandler.ts
  src/core/handler.ts
Due: prettier --write .

feat: 优化
  package.json
  src/components/workarea/workspace.vue
Due: none

Deploying to gh-pages from @ bcff877111df7f340b242052d0490bc8c7547d66 🚀
  assets/main-0a2dff83.js
  assets/main-2b52c280.js
  assets/style-094cca3b.css
  assets/style-2a14dc2a.css
  index.html
Due: prettier --write .

feat: 颜色统一
  package.json
  src/components/panel/index.vue
  src/core/FabricHandler.ts
Due: prettier --write .

Deploying to gh-pages from @ b457a42eefa8e1b329208fd3b733ce9d8c75866e 🚀
  assets/main-0a2dff83.js
  assets/main-e208b3f6.js
  assets/style-094cca3b.css
  assets/style-44d26c45.css
  index.html
Due: prettier --write .

feat: 1、json打印和图片下载 2、psd上传和解析 3、修复缩放控制模块bug
  package.json
  src/assets/upload-file-bg.png
  src/assets/upload-file-image.svg
  src/common/popover.vue
  src/common/upload-file.vue
  src/components/panel/index.vue
  src/components/workarea/scale-bar.vue
  src/constants/workspace.ts
  src/core/UtilsHandler.ts
  src/core/handler.ts
  src/layout/Framework.vue
  src/layout/Nav.vue
  src/parse/psd.js
  src/shims-vue.d.ts
  src/utils/_.ts
  src/utils/getFileType.ts
Due: prettier --write .

Deploying to gh-pages from @ a995909a3440229f98f2781abfe2e1f48e949a2c 🚀
  assets/main-e208b3f6.js
  assets/main-e220696a.js
  assets/style-44d26c45.css
  assets/style-93dc0acc.css
  assets/upload-file-bg-b2f427f1.png
  assets/upload-file-image-cb880832.svg
  index.html
Due: prettier --write .

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
