Repository haixin-fang/vue-design-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., prettier --write

feat: github自动打包调试
  package.json
  vite.config.ts
Due: prettier --write .

Deploying to gh-pages from @ 02c0f461bf2471e0713d8e96500554c49adbd9a5 🚀
  assets/index-543f26ec.css
  assets/index-5737d434.js
  css/app.ddbde395.css
  index.html
  js/app.10633f4f.js
  js/app.10633f4f.js.map
  js/chunk-vendors.2765755c.js
  js/chunk-vendors.2765755c.js.map
Due: prettier --write .

feat: 正式开启图片编辑器之旅
  README.md
  package.json
  src/main.js
Due: prettier --write ., prettier --write

feat: 布局
  .eslintrc.js
  package.json
  src/layout/Framework.vue
  src/main.ts
  src/page/editor-page.vue
  src/page/editor.vue
  src/router/index.ts
  src/shims-vue.d.ts
  src/store/index.ts
Due: prettier --write .

Deploying to gh-pages from @ 45af4498b11e21c105ba3143811bf3242469cfd0 🚀
  assets/index-543f26ec.css
  assets/index-5737d434.js
  assets/index-93226e7c.js
  assets/index-fd7a60a7.css
  index.html
Due: prettier --write .

style: 页面布局一
  src/assets/module-close.svg
  src/components/sidebar/bar.vue
  src/components/sidebar/resource.vue
  src/components/workarea/workspace.vue
  src/constants/sidebar.ts
  src/layout/Framework.vue
  src/main.ts
  src/page/editor.vue
  src/style.css
  src/styles/icon/iconfont.css
  src/styles/icon/iconfont.js
  src/styles/icon/iconfont.json
  src/styles/icon/iconfont.ttf
  src/styles/icon/iconfont.woff
  src/styles/icon/iconfont.woff2
  src/styles/index.scss
Due: prettier --write .

Deploying to gh-pages from @ c9186c71d687e1d09139296400f99623309dca05 🚀
  assets/iconfont-498e54f7.woff
  assets/iconfont-8373149b.woff2
  assets/iconfont-d2825286.ttf
  assets/index-4fa441fc.css
  assets/index-664f418c.js
  assets/index-93226e7c.js
  assets/index-fd7a60a7.css
  assets/module-close-b3f3c06c.svg
  index.html
Due: prettier --write .

feat: 页面布局二(标尺相关交互)
  package.json
  src/common/guides/index.vue
  src/common/guides/types.ts
  src/components/workarea/workspace.vue
  src/style.css
  vite.config.ts
Due: prettier --write .

Deploying to gh-pages from @ 14bf3ffece72b25b1b8d8cf1c9e3a70893dec4af 🚀
  assets/index-20ba97fa.js
  assets/index-4fa441fc.css
  assets/index-664f418c.js
  assets/index-c2cb19ce.css
  index.html
Due: prettier --write .

feat: 导航栏
  src/components/panel/index.vue
  src/constants/panel.ts
  src/layout/Nav.vue
  src/page/editor.vue
  src/styles/icon/iconfont.css
  src/styles/icon/iconfont.js
  src/styles/icon/iconfont.json
  src/styles/icon/iconfont.ttf
  src/styles/icon/iconfont.woff
  src/styles/icon/iconfont.woff2
Due: prettier --write .

feat: iconfont
  src/components/panel/index.vue
  src/styles/icon/iconfont.css
Due: none

Deploying to gh-pages from @ e520ebaf8242b02530b2e03bae752f7363155633 🚀
  assets/iconfont-498e54f7.woff
  assets/iconfont-49fcf293.ttf
  assets/iconfont-5a386b41.woff
  assets/iconfont-6ed884b2.woff2
  assets/iconfont-8373149b.woff2
  assets/iconfont-d2825286.ttf
  assets/index-20ba97fa.js
  assets/index-5f32464b.js
  assets/index-6a07ce64.css
  assets/index-c2cb19ce.css
  index.html
Due: prettier --write .

feat: 标尺交互优化和初始化画布
  package.json
  src/components/panel/index.vue
  src/components/workarea/canvas.vue
  src/components/workarea/workspace.vue
  src/constants/panel.ts
  src/constants/workspace.ts
  src/core/WorkareaHandler.ts
  src/core/handler.ts
  src/layout/Framework.vue
  src/layout/Nav.vue
  src/page/editor.vue
  src/style.css
  src/types/global.d.ts
  src/types/utils.ts
  tsconfig.json
Due: prettier --write .

Deploying to gh-pages from @ 427b4d240619e4581357b33de1cb224ee4edcd0c 🚀
  assets/index-5f32464b.js
  assets/index-6a07ce64.css
  assets/index-916b503f.js
  assets/index-f63f91c0.css
  index.html
Due: prettier --write .

chore: tsconfig 配置更新
  tsconfig.json
Due: none

feat: 标尺交互,缩放等样式
  package.json
  src/common/guides/index.vue
  src/common/popover.vue
  src/components/workarea/canvas.vue
  src/components/workarea/scale-bar.vue
  src/components/workarea/workspace.vue
  src/constants/sidebar.ts
  src/constants/workspace.ts
  src/core/WorkareaHandler.ts
  src/main.ts
  src/page/editor.vue
  src/style.css
  src/types/utils.ts
  vite.config.ts
Due: prettier --write .

Deploying to gh-pages from @ b05b4f4427684f169f8fe0b8648af149d4e35e35 🚀
  assets/index-916b503f.js
  assets/index-ab8bc69b.css
  assets/index-f63f91c0.css
  assets/index-f9016599.js
  index.html
Due: prettier --write .

style: 弹窗动画
  src/common/popover.vue
Due: none

Deploying to gh-pages from @ 84f41f16499cdbe0a6932992722bbe422a297ab2 🚀
  assets/index-178dab96.css
  assets/index-9cd768cb.js
  assets/index-ab8bc69b.css
  assets/index-f9016599.js
  index.html
Due: prettier --write .

feat: 画布布局样式
  src/common/popover.vue
  src/components/panel/bar.vue
  src/components/panel/checkbox.vue
  src/components/panel/index.vue
  src/components/panel/workspace-size.vue
  src/style.css
  src/styles/icon/iconfont.css
  src/styles/icon/iconfont.ttf
  src/styles/icon/iconfont.woff
  src/styles/icon/iconfont.woff2
Due: none

Deploying to gh-pages from @ e79803fe3e3e64e5b6c2e590ca338c237e5a79a4 🚀
  assets/iconfont-2d120ab7.woff2
  assets/iconfont-425eac35.ttf
  assets/iconfont-49fcf293.ttf
  assets/iconfont-5a386b41.woff
  assets/iconfont-6ed884b2.woff2
  assets/iconfont-d7551bdf.woff
  assets/index-178dab96.css
  assets/index-9cd768cb.js
  assets/index-b9bb11ca.css
  assets/index-bf7d7992.js
  index.html
Due: prettier --write .

feat: 尺寸样式一
  package.json
  src/App.vue
  src/assets/workareaCursor.svg
  src/components/panel/checkbox.vue
  src/components/panel/index.vue
  src/components/panel/workspace-size.vue
  src/components/workarea/workspace.vue
  src/constants/size.ts
  src/core/WorkareaHandler.ts
  src/style.css
  vite.config.ts
Due: prettier --write .

style: 扩展
  src/styles/icon/iconfont.css
Due: none

Deploying to gh-pages from @ 8013de14dbb1b9066199a8e56d6817ed146eba0c 🚀
  assets/index-379b6981.js
  assets/index-77b92c02.css
  assets/index-b9bb11ca.css
  assets/index-bf7d7992.js
  index.html
Due: prettier --write .

feat: 尺寸选择样式
  public/index.html
  src/components/panel/bar.vue
  src/components/panel/workspace-size.vue
  src/core/WorkareaHandler.ts
  src/style.css
  src/styles/icon/iconfont.css
  src/styles/icon/iconfont.ttf
  src/styles/icon/iconfont.woff
  src/styles/icon/iconfont.woff2
Due: prettier --write .

Deploying to gh-pages from @ ddd8fc85d33cf35b4f4fb0e15c3f0e641f617be2 🚀
  assets/iconfont-16f38a5b.woff
  assets/iconfont-2d120ab7.woff2
  assets/iconfont-32fe3b50.ttf
  assets/iconfont-425eac35.ttf
  assets/iconfont-955d16e7.woff2
  assets/iconfont-d7551bdf.woff
  assets/index-379b6981.js
  assets/index-3e91dd17.css
  assets/index-77b92c02.css
  assets/index-f39fbc78.js
  index.html
Due: prettier --write .

feat: 尺寸列表样式二
  README.md
  src/components/panel/index.vue
  src/components/panel/workspace-size.vue
  src/components/sidebar/bar.vue
  src/constants/sidebar.ts
  src/layout/Nav.vue
  src/styles/icon/iconfont.css
  src/styles/icon/iconfont.ttf
  src/styles/icon/iconfont.woff
  src/styles/icon/iconfont.woff2
Due: prettier --write ., prettier --write

style: iconfont
  src/styles/icon/iconfont.css
Due: none

Deploying to gh-pages from @ bd3342067b2d8d61ec1496f012bfcce8c353d337 🚀
  assets/iconfont-0d6b7685.woff
  assets/iconfont-16f38a5b.woff
  assets/iconfont-32fe3b50.ttf
  assets/iconfont-4d7e3cd7.woff2
  assets/iconfont-955d16e7.woff2
  assets/iconfont-cad5afff.ttf
  assets/index-3e91dd17.css
  assets/index-7ed59da3.js
  assets/index-9820a2e6.css
  assets/index-f39fbc78.js
  index.html
Due: prettier --write .

feat: 添加模块样式
  src/assets/3d.svg
  src/assets/Aa.svg
  src/assets/circle.svg
  src/assets/h1.svg
  src/assets/h2.svg
  src/assets/line.svg
  src/assets/qrcode.svg
  src/assets/square.svg
  src/assets/triangle.svg
  src/assets/upload.svg
  src/components/sidebar/bar.vue
  src/components/sidebar/resource.vue
  src/constants/addtab.ts
  src/layout/Nav.vue
  src/style.css
  src/utils/_.ts
Due: prettier --write .

Deploying to gh-pages from @ 5dd74f33afe10d8bbe5a572da09f032a4ed9d88c 🚀
  assets/index-4d3df1a6.js
  assets/index-7ed59da3.js
  assets/index-9820a2e6.css
  assets/index-ea5a5ad7.css
  index.html
Due: prettier --write .

feat: 加载效果和接入素材
  package.json
  src/common/panel-block.vue
  src/components/sidebar/bar.vue
  src/components/sidebar/resource.vue
  src/constants/material.ts
  src/constants/sidebar.ts
  src/layout/Framework.vue
  src/page/editor.vue
  src/service/request.ts
  src/store/index.ts
Due: prettier --write .

Deploying to gh-pages from @ da06c9ce9fd5230bacb819a94e0f155aeab20ae6 🚀
  assets/index-2ba0cb54.js
  assets/index-4d3df1a6.js
  assets/index-5ed0b147.css
  assets/index-ea5a5ad7.css
  index.html
Due: prettier --write .

feat: 完善交互
  src/components/sidebar/resource.vue
Due: none

Deploying to gh-pages from @ b2dff31fd28688854d8362f855cc0309a8a1b1d1 🚀
  assets/index-2ba0cb54.js
  assets/index-5ed0b147.css
  assets/index-72d3471d.css
  assets/index-caba843a.js
  index.html
Due: prettier --write .

feat: 新增icon图标素材
  src/common/waterfall.vue
  src/components/panel/bar.vue
  src/components/panel/checkbox.vue
  src/components/panel/workspace-size.vue
  src/components/sidebar/resource.vue
  src/constants/material.ts
  src/constants/sidebar.ts
  src/store/index.ts
Due: prettier --write .

Deploying to gh-pages from @ 1805fcb969dc12bc9c0095b8bf6f6c63fa1e7233 🚀
  assets/index-65eab010.js
  assets/index-72d3471d.css
  assets/index-ad5499b1.css
  assets/index-caba843a.js
  index.html
Due: prettier --write .

feat: 新增图片素材
  src/common/waterfall.vue
  src/components/sidebar/resource.vue
  src/constants/sidebar.ts
  src/store/index.ts
  src/utils/_.ts
Due: prettier --write .

Deploying to gh-pages from @ 04a3fa73894baed0e1cccd77dc7a8fba07840a53 🚀
  assets/index-182d0586.css
  assets/index-65eab010.js
  assets/index-a058993b.js
  assets/index-ad5499b1.css
  index.html
Due: prettier --write .

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
